<h3>Student Form</h3>
<form action='<%= students_path %>' method='POST'>
  <label>First Name</label>
  <input type="text" id="first_name" name="first_name"><br>
  <label>Last Name</label>
  <input type='text' id='last_name' name='last_name'><br>
  <input type='submit' value='Submit Student'>
</form>
